<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Da Blog | Register</title>
		<link rel="stylesheet" href="../static/bootstrap.css" />
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<div class="container-fluid my-5">
			<div class="col text-center rounded bg-dark p-5">
				<div class="top">
					<h2 class="text-white"><b>DABLOG | PROFILE EDIT</b></h2>
					<div class="text-muted mb-4">
						Edit your profile here on Da Blog
					</div>
				</div>
				<div class="form-floating mb-3">
					<input
						type="text"
						class="form-control h-5"
						placeholder="update username"
						id="formId1"
					/>
					<label class="text-muted">Update Username</label>
				</div>
				<div class="form-floating mb-3">
					<textarea
						name=""
						id=""
						cols="30"
						rows="10"
						placeholder="Update Bio"
						class="form-control h-100"
					></textarea>
					<label class="text-muted">Update Bio</label>
				</div>
				<div class="mb-3">
					<input
						type="file"
						class="form-control"
						aria-describedby="fileHelpId"
					/>
				</div>
				<button class="btn btn-outline-light mb-5">Submit</button>
			</div>
		</div>
		<script src="../static/bootstrap.bundle.js"></script>
	</body>
</html>
