<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Da Blog | home</title>
		<link rel="stylesheet" href="../static/bootstrap.css" />
		<link rel="stylesheet" href="../static/home.css" />
	</head>
	<body>
		<header class="sticky-top w">
			<nav class="navbar navbar-expand-md navbar-light bg-white border">
				<div class="container">
					<a class="navbar-brand" href="#">Dablog</a>
					<button
						class="navbar-toggler d-lg-none"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapsibleNavId"
						aria-controls="collapsibleNavId"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavId">
						<ul
							class="opacity-0 user-select-none navbar-nav me-auto mt-2 mt-lg-0"
						>
							<li class="nav-item">
								<div
									class="nav-link active"
									aria-current="page"
								>
									.
									<span class="visually-hidden"
										>(current)</span
									>
								</div>
							</li>
							<li class="nav-item">
								<div class="nav-link">.</div>
							</li>
							<li class="nav-item dropdown">
								<div
									class="nav-link"
									id="dropdownId"
									data-bs-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
								>
									.
								</div>
							</li>
						</ul>
						<form class="d-flex my-2 align-items-center my-lg-0">
							<input
								class="w-100 form-control"
								type="search"
								placeholder="Search"
							/>
							<button
								class="btn btn-outline-info my-23 my-sm-0 search"
								id="search"
								type="submit"
							>
								<svg
									style="width: 1rem;"
									viewBox="0 0 24 24"
								>
									<path
										fill="currentColor"
										d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"
									/>
								</svg>
							</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
		<main class="container-fluid" style="display: flex">
			<section class="start">
				<div class="col showme about-me my-3">
					<div class="left col">
						<h5 class="">@DankTherapist</h5>
						<div class="col text-muted">
							Fullname: Miracles Lee Cross
						</div>
						<div class="col">
							Developer of web applications, Javascript, PHP,
							Java, Python, Ruby, Java, Node.js e.t.c
						</div>
					</div>
				</div>
			</section>
			<section class="middle">
				<div class="col center my-3">
					<div class="border bg-white">
						<!-- Nav tabs -->
						<ul
							class="nav nav-tabs custom-secondary"
							id="navId"
							role="tablist"
						>
							<div class="empty opacity-0 user-select-none">
								rrr
							</div>
							<li class="nav-item">
								<a
									href="#tab1Id"
									class="nav-link active text-muted"
									data-bs-toggle="tab"
									aria-current="page"
									>Make a publication</a
								>
							</li>
							<li class="nav-item" role="presentation">
								<a
									href="#tab2Id"
									class="nav-link"
									data-bs-toggle="tab"
									>Images</a
								>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content" id="myTabContent">
							<div
								class="tab-pane fade show active"
								id="tab1Id"
								role="tabpanel"
							>
								<div class="form-floating mt-3">
									<textarea
										name=""
										id=""
										class="form-control h-100"
										cols="30"
										rows="3"
										placeholder="what's on your mind"
									></textarea>
									<label for="formId1" class="text-muted"
										>what's on your mind?</label
									>
								</div>
								<div class="tab1bottom center-space-between">
									<button class="btn btn-primary btn-small">
										share
									</button>
									<svg
										version="1.1"
										viewBox="0 0 16 16"
										xmlns="http://www.w3.org/2000/svg"
									>
										<g>
											<ellipse
												cx="8"
												cy="8.0441"
												rx="7.5036"
												ry="7.5435"
												fill="#fff"
												stroke="#00f"
												stroke-width=".82892"
												style="
													paint-order: stroke fill
														markers;
												"
											/>
											<path
												transform="matrix(1.0239 0 0 1.0804 -.43971 -.48495)"
												d="m7.7436 8.3897c0.37041-0.074958 0.28379 0.46232 0.12459 0.61565-0.43143 0.41549-1.1075 0.079788-1.3559-0.36647-0.44425-0.79826 0.078893-1.7588 0.85754-2.0961 1.1427-0.49498 2.421 0.23668 2.8363 1.3486 0.55361 1.482-0.39374 3.0873-1.8397 3.5766-1.8195 0.61575-3.7556-0.55036-4.3168-2.3307-0.67973-2.1562 0.70672-4.425 2.8218-5.057 2.4925-0.74479 5.0952 0.8629 5.7973 3.3128 0.81054 2.8285-1.019 5.7659-3.8039 6.5375-3.1644 0.87675-6.4369-1.175-7.2777-4.295-0.94329-3.5002 1.3309-7.1081 4.786-8.018 3.8358-1.0101 7.7796 1.4868 8.7582 5.2771"
												fill-opacity="0"
												stroke="#00abff"
												stroke-width=".33467"
											/>
										</g>
									</svg>
								</div>
							</div>
							<div
								class="tab-pane fade"
								id="tab2Id"
								role="tabpanel"
							>
								<div class="mb-3 mx-2">
									<label for="" class="form-label"
										>Choose file</label
									>
									<input
										type="file"
										class="form-control"
										name=""
										id=""
										placeholder=""
										aria-describedby="fileHelpId"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card center my-3">
					<div class="card-header">
						<div class="row left-header">
							<h4 class="card-title">@LeeCross</h4>
							<div class="text-muted">Miracles Lee Cross</div>
						</div>
						<div class="right-header">
							<svg
								class="text-primary"
								style="width: 1.7rem;"
								version="1.1"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="m16 12a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2z"
									fill="CurrentColor"
								/>
							</svg>
						</div>
					</div>
					<div class="card-content">
						<div class="card-content-body my-3 mx-2">
							<div class="time">
								<span>
									<svg
										class="text-muted me-1"
										viewBox="0 0 24 24"
									>
										<path
											fill="currentColor"
											d="M12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C17.5 22 22 17.5 22 12S17.5 2 12 2M12.5 13H7V11.5H11V7H12.5V13Z"
										/>
									</svg>
								</span>
								<span class="text-muted">10 mins ago</span>
							</div>
							<a href="#" class="card-link"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing.</a
							>
							<p class="card-text text-muted">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Sed molestias debitis, autem
								commodi, eligendi earum unde facilis hic quas,
								quos consectetur illo odio officiis culpa
								placeat nisi nam deserunt aut!
							</p>
						</div>
					</div>
					<div class="card-footer text-muted">
						<span>
							<a href="#" class="card-link heart">
								<svg class="heart cardsvg" viewBox="0 0 24 24">
									<path
										fill="currentColor"
										d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"
									/>
								</svg>
								<span class="like">Like</span>
							</a>
							<a href="#" class="card-link">
								<svg
									class="cardsvg"
									version="1.1"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="m12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10 10 10 0 0 1-10-10 10 10 0 0 1 10-10m0 8.5a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5m-5.5 0a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5m11 0a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5z"
										fill="currentColor"
									/>
								</svg>
								<span>Comment</span>
							</a>
							<a href="#" class="card-link">
								<svg
									class="cardsvg"
									version="1.1"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M0.41,13.41L6,19L7.41,17.58L1.83,12M22.24,5.58L11.66,16.17L7.5,12L6.07,13.41L11.66,19L23.66,7M18,7L16.59,5.58L10.24,11.93L11.66,13.34L18,7Z"
										fill="currentColor"
									/>
								</svg>
								<span>share</span>
							</a>
						</span>
					</div>
				</div>
				<div class="card center my-3">
					<div class="card-header">
						<div class="row left-header">
							<h4 class="card-title">@LeeCross</h4>
							<div class="text-muted">Miracles Lee Cross</div>
						</div>
						<div class="right-header">
							<svg
								class="text-primary"
								style="height: 24px; width: 24px"
								version="1.1"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="m16 12a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2z"
									fill="CurrentColor"
								/>
							</svg>
						</div>
					</div>
					<div class="card-content">
						<div class="card-content-body my-3 mx-2">
							<div class="time">
								<span>
									<svg
										class="text-muted me-1"
										viewBox="0 0 24 24"
									>
										<path
											fill="currentColor"
											d="M12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C17.5 22 22 17.5 22 12S17.5 2 12 2M12.5 13H7V11.5H11V7H12.5V13Z"
										/>
									</svg>
								</span>
								<span class="text-muted">10 mins ago</span>
							</div>
							<a href="#" class="card-link"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing.</a
							>
							<p class="card-text text-muted">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Sed molestias debitis, autem
								commodi, eligendi earum unde facilis hic quas,
								quos consectetur illo odio officiis culpa
								placeat nisi nam deserunt aut!
							</p>
						</div>
					</div>
					<div class="card-footer text-muted">
						<span>
							<a href="#" class="card-link heart">
								<svg class="heart cardsvg" viewBox="0 0 24 24">
									<path
										fill="currentColor"
										d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"
									/>
								</svg>
								<span class="like">Like</span>
							</a>
							<a href="#" class="card-link">
								<svg
									class="cardsvg"
									version="1.1"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="m12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10 10 10 0 0 1-10-10 10 10 0 0 1 10-10m0 8.5a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5m-5.5 0a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5m11 0a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5z"
										fill="currentColor"
									/>
								</svg>
								<span>Comment</span>
							</a>
							<a href="#" class="card-link">
								<svg
									class="cardsvg"
									version="1.1"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M0.41,13.41L6,19L7.41,17.58L1.83,12M22.24,5.58L11.66,16.17L7.5,12L6.07,13.41L11.66,19L23.66,7M18,7L16.59,5.58L10.24,11.93L11.66,13.34L18,7Z"
										fill="currentColor"
									/>
								</svg>
								<span>share</span>
							</a>
						</span>
					</div>
				</div>
				<div class="card center my-3">
					<div class="card-header">
						<div class="row left-header">
							<h4 class="card-title">@LeeCross</h4>
							<div class="text-muted">Miracles Lee Cross</div>
						</div>
						<div class="right-header">
							<svg
								class="text-primary"
								style="height: 24px; width: 24px"
								version="1.1"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="m16 12a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2z"
									fill="CurrentColor"
								/>
							</svg>
						</div>
					</div>
					<div class="card-content">
						<div class="card-content-body my-3 mx-2">
							<div class="time">
								<span>
									<svg
										class="text-muted me-1"
										viewBox="0 0 24 24"
									>
										<path
											fill="currentColor"
											d="M12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C17.5 22 22 17.5 22 12S17.5 2 12 2M12.5 13H7V11.5H11V7H12.5V13Z"
										/>
									</svg>
								</span>
								<span class="text-muted">10 mins ago</span>
							</div>
							<a href="#" class="card-link"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing.</a
							>
							<p class="card-text text-muted">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Sed molestias debitis, autem
								commodi, eligendi earum unde facilis hic quas,
								quos consectetur illo odio officiis culpa
								placeat nisi nam deserunt aut!
							</p>
						</div>
					</div>
					<div class="card-footer text-muted">
						<span>
							<a href="#" class="card-link heart">
								<svg class="heart cardsvg" viewBox="0 0 24 24">
									<path
										fill="currentColor"
										d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"
									/>
								</svg>
								<span class="like">Like</span>
							</a>
							<a href="#" class="card-link">
								<svg
									class="cardsvg"
									version="1.1"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="m12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10 10 10 0 0 1-10-10 10 10 0 0 1 10-10m0 8.5a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5m-5.5 0a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5m11 0a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5z"
										fill="currentColor"
									/>
								</svg>
								<span>Comment</span>
							</a>
							<a href="#" class="card-link">
								<svg
									class="cardsvg"
									version="1.1"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M0.41,13.41L6,19L7.41,17.58L1.83,12M22.24,5.58L11.66,16.17L7.5,12L6.07,13.41L11.66,19L23.66,7M18,7L16.59,5.58L10.24,11.93L11.66,13.34L18,7Z"
										fill="currentColor"
									/>
								</svg>
								<span>share</span>
							</a>
						</span>
					</div>
				</div>
				<!--  -->
				<div class="card center my-3">
					<div class="card-header">
						<div class="row left-header">
							<h4 class="card-title">@LeeCross</h4>
							<div class="text-muted">Miracles Lee Cross</div>
						</div>
						<div class="right-header">
							<svg
								class="text-primary"
								version="1.1"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="m16 12a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2z"
									fill="CurrentColor"
								/>
							</svg>
						</div>
					</div>
					<div class="card-content">
						<div class="card-content-body my-3 mx-2">
							<div class="time">
								<span>
									<svg
										class="text-muted me-1"
										viewBox="0 0 24 24"
									>
										<path
											fill="currentColor"
											d="M12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C17.5 22 22 17.5 22 12S17.5 2 12 2M12.5 13H7V11.5H11V7H12.5V13Z"
										/>
									</svg>
								</span>
								<span class="text-muted">10 mins ago</span>
							</div>
							<a href="#" class="card-link"
								>Lorem ipsum dolor sit amet consectetur
								adipisicing.</a
							>
							<p class="card-text text-muted">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Sed molestias debitis, autem
								commodi, eligendi earum unde facilis hic quas,
								quos consectetur illo odio officiis culpa
								placeat nisi nam deserunt aut!
							</p>
						</div>
					</div>
					<div class="card-footer text-muted">
						<span>
							<a href="#" class="card-link heart">
								<svg class="heart cardsvg" viewBox="0 0 24 24">
									<path
										fill="currentColor"
										d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"
									/>
								</svg>
								<span class="like">Like</span>
							</a>
							<a href="#" class="card-link">
								<svg
									class="cardsvg"
									version="1.1"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="m12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10 10 10 0 0 1-10-10 10 10 0 0 1 10-10m0 8.5a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5m-5.5 0a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5m11 0a1.5 1.5 0 0 0-1.5 1.5 1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0 1.5-1.5 1.5 1.5 0 0 0-1.5-1.5z"
										fill="currentColor"
									/>
								</svg>
								<span>Comment</span>
							</a>
							<a href="#" class="card-link">
								<svg
									class="cardsvg"
									version="1.1"
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M0.41,13.41L6,19L7.41,17.58L1.83,12M22.24,5.58L11.66,16.17L7.5,12L6.07,13.41L11.66,19L23.66,7M18,7L16.59,5.58L10.24,11.93L11.66,13.34L18,7Z"
										fill="currentColor"
									/>
								</svg>
								<span>share</span>
							</a>
						</span>
					</div>
				</div>
			</section>
			<section class="end">
				<div class="col card my-3">
					<div class="card-body">
						<h4 class="card-title">Card Title</h4>
						<p class="card-title text-muted">Card-subtite</p>
						<p class="card-title text-muted">
							Some quick example text to build om the card title
							and make up the bulk of the card's content
						</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another Link</a>
					</div>
				</div>
				<div class="col card my-3">
					<div class="card-body">
						<h4 class="card-title">Card Title</h4>
						<p class="card-title text-muted">Card-subtite</p>
						<p class="card-title text-muted">
							Some quick example textx tp build om the card title
							and make up the bulk of the card's content
						</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another Link</a>
					</div>
				</div>
			</section>
		</main>
		<script src="../static/bootstrap.bundle.js"></script>
		<script src="../static/home.js"></script>
	</body>
</html>
